<script>
    import { getContext } from 'svelte';
    import Dialog from './Dialog.svelte';

    const { open } = getContext('simple-modal');

    export let doc_book_s;

    let name;
    let status = 0;

    const onCancel = (text) => {
        name = '';
        status = -1;
    }

    const onOkay = (text) => {
        name = text;
        status = 1;
    }

    const showDialog = () => {
        open(
            Dialog,
            {
                message: "Show detail",
                doc : doc_book_s,
                onCancel,
                onOkay
            }
        );
    };
</script>

<style>
    div{
        text-align: center;
    }
    .button1 {
        background-color: white;
        color: black;
        border: 2px solid #6200ee ;
    }
</style>

<div>
    <button class="button1" on:click={showDialog}>show</button>
</div>
