<script>
    import { getContext } from 'svelte';
    export let message;
    export let hasForm = false;
    export let doc;
    export let onCancel = () => {};
    export let onOkay = () => {};

    const { close } = getContext('simple-modal');

    let value;
    let onChange = () => {};

    function _onCancel() {
        onCancel();
        close();
    }

    function _onOkay() {
        onOkay(value);
        close();
    }
    $: onChange(value)

    console.log(doc);

</script>

<style>
    h2 {
        font-size: 2rem;
        text-align: center;
    }
</style>

<h2>{message}</h2>

<div>
    <!--    Parcours le document, récupère la value -->
    {#each Object.entries(doc)  as [key, value] (value)}
        <ul>
            <li>
                {key} : {value}
            </li>
        </ul>
    {/each}

    <button on:click={_onCancel}>
        Cancel
    </button>
    <button on:click={_onOkay}>
        Okay
    </button>
</div>