<script>

    import List from "./List.svelte";

</script>

<nav>
    <mwc-top-app-bar>
        <mwc-icon-button icon="menu" slot="navigationIcon"></mwc-icon-button>
        <div slot="title">Book Store </div>
        <mwc-icon-button icon="home" slot="actionItems"></mwc-icon-button>
    </mwc-top-app-bar>
</nav>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<main>

    <List />

</main>