<script>

    import "@polymer/paper-card";
    import "@material/mwc-button";
    import "@material/mwc-icon-button";
    import "@material/mwc-top-app-bar";

    import {onMount} from 'svelte';
    import PouchDB from 'pouchdb-browser';

    export let mBooks;
    let pdb = new PouchDB('db');

    const replicate = PouchDB.sync('db', 'http://localhost:5984/books', {
        live: true,
        retry: true
    }).on('change', async function (i) {
        await updateContent();
    }).on('error', function (err) {
        console.log(err);
    })

    let author;
    let url;
    let id;
    let price;
    let title;
    let books;
    let dataurl;
    let img;

    onMount(
        async () => {
            await pdb.info(); // Notre BD est disponible
            await updateContent();
        }
    );

    async function add_books() {
        const pdb = new PouchDB('db');
        const newBook = {
            author: author,
            url: url,
            _id: title+"_id",
            price: price,
            title: title,
            img: dataurl,
        }

        const sendToDB = await pdb.post(newBook);

        if (sendToDB.ok) {
            await updateContent();
        }
        author = "";
        url = "";
        id = "";
        price = "";
        title = "";
        dataurl = "";
    }

    async function updateContent() {
        const allBook = await pdb.allDocs({
            include_docs: true
        });
        mBooks = allBook.rows.map(row => row.doc);
        console.log(mBooks)
    }

</script>

<style lang="css">
    section{
        text-align: center;
    }
    form{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    input{
        margin-right: 5px;
    }
    .button1 {
        background-color: white;
        color: black;
        border: 2px solid #4CAF50; /* Green */
    }
</style>

<section>
    <h2>Create book</h2>
    <form on:submit|preventDefault={add_books}>
        <input type="text" placeholder="Name of the author" bind:value={author}>

        <input type="text" placeholder="Url" bind:value={url}>

        <input type="text" placeholder="Price" bind:value={price}>

        <input type="text" placeholder="Title" bind:value={title}>

        <input type="text" placeholder="img url" bind:value={dataurl}>

        <button class="button1" type="submit">Create</button>
    </form>
</section>