<script>
    import PouchDB from "pouchdb-browser";

    // On récupère le document au clique le doc
    export let doc_book;

    let pdb = new PouchDB('db');

    const replicate = PouchDB.sync('db', 'http://localhost:5984/books/', {
        live: true,
        retry: true
    })

    async function removeItem() {
        pdb.get(doc_book._id)
            .then(function(doc_book){
                pdb.remove(doc_book);
                document.location.reload();
            }).catch(function (err){
                console.log(err);
            });
    }

</script>

<style>
    div{
        text-align: center;
    }
    .button1 {
        background-color: white;
        color: black;
        border: 2px solid #6200ee;
    }
</style>

<div>
    <button class="button1" on:click={removeItem}>delete</button>
</div>