<script>

    import "@polymer/paper-card";
    import "@material/mwc-button";
    import "@material/mwc-icon-button";
    import "@material/mwc-top-app-bar";
    import Create from "./Create.svelte";
    import Delete from "./Delete.svelte";
    import Content from "./show/Content.svelte";
    import Update from "./Update.svelte";
    import Modal from "./Modal.svelte";

    let books = [];

    let doc_book;

    let doc_book_u;

    let doc_book_s;


</script>

<style>
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 120px;
        height: 150px;
    }
    paper-card {
        margin: 20px 10px;
        background: #ebe8ee;
    }
</style>

<Create bind:mBooks={books}/>
    {#each books as book}
            <paper-card heading={book.title}>
                {#if book.img}
                <div>
                    <img src="{book.img}" alt="{book.title}" title="{book.title}"/>
                </div>
                {:else}
                    <img src="https://semantic-ui.com/images/wireframe/white-image.png" alt="not img">
                {/if}
                <div class="card-content">
                    Ecrit par {book.author} au prix de {book.price}
                </div>
                <Modal closeButton={false} closeOnEsc={false} closeOnOuterClick={false}>
                    <Content bind:doc_book_s={book}/>
                </Modal>
                <Update bind:doc_book_u={book}/>
                <Delete bind:doc_book={book}/>
            </paper-card>
    {/each}