<script>
    import PouchDB from "pouchdb-browser";

    // On récupère le document au clique le doc
    export let doc_book_u;

    let loading = false;

    let pdb = new PouchDB('db');

    const replicate = PouchDB.sync('db', 'http://localhost:5984/books/', {
        live: true,
        retry: true
    })

    async function updateItem() {
        try {
            let response = await pdb.put({
                author: doc_book_u.author,
                url: doc_book_u.url ,
                _id: doc_book_u._id,
                price: doc_book_u.price,
                title: doc_book_u.title,
                img: doc_book_u.img,
                _rev: doc_book_u._rev
            });
            document.location.reload();
        } catch (err) {
            console.log(err);
        }
    }

    function show(){
        loading = true;
    }

    function close(){
        loading = false;
    }


</script>

<style>
    div{
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .button1 {
        background-color: white;
        color: black;
        border: 2px solid #2d7e0a;
    }
    .button2 {
        background-color: white;
        color: black;
        border: 2px solid #0d24b7;
    }
</style>

<div>
    <button class="button2" on:click={show}>update</button>
    {#if loading}
    <form on:submit|preventDefault={updateItem}>
        <h3>Update</h3>
        <input type="text" placeholder="Name of the author" bind:value={doc_book_u.author}>

        <input type="text" placeholder="Url" bind:value={doc_book_u.url}>

        <input type="text" placeholder="Price" bind:value={doc_book_u.price}>

        <input type="text" placeholder="Title" bind:value={doc_book_u.title}>

        <input type="text" placeholder="Url img" bind:value={doc_book_u.img}>

        <div>
        <button class="button1" type="submit">Valider</button>
        <button class="button2" on:click={close} >Close</button>
        </div>
    </form>
    {/if}
</div>